<div style=" 
    width: 40%;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 5px;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #336699;
    border-width: 4px;
    border-style: solid;
    font-color: $color_waikawa_gray_approx;
    border-color: $color_mountain_mist_approx;
    border-radius: 25px;">
<p style="font-color: $color_edward_approx !important; font-size: 40px; font-style:bold !important; ">Log in</p>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field" style="font-size: 25px; font-style:bold;">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field" style="font-size: 25px;">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field" style="font-size: 15px;">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="actions" style="padding: 8px">
    <%= f.submit "Log in" %>
  </div>
<% end %>

  <div style="font-color: $color_waikawa_gray_approx !important;">
    <%= render "devise/shared/links"%>
    <%= link_to 'Home', root_path %>
  </div>
</div>