<nav class="navbar navbar-default">

  <div class="container-fluid">
   <!-- Collapse navbar when window shrinks>
    <div class="collapse navbar-collapse" id="navbar-collapse-1"> -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>

    <ul class="nav navbar-nav">
        <li> <a class="navbar-brand"> Car Seachers </li></a>
        <li><%= link_to 'Home', root_path %></li>
    </ul>
    <ul class="nav navbar-nav navbar-left">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Begin <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
               <ul>
                  <% if user_signed_in? %>
                    <li><%= link_to "Logout (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to 'Login', new_user_session_path  %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path  %></li>
                <% end %>
               </ul>
          </ul>
        </li>
        </ul>

     
      </div><!--/navbar- header-->
     

   
    <!-- </div>/.navbar-collapse -->

   </div><!-- /.container-fluid -->
  </nav>
</nav>


<div class="row">
    <div class = "container-search">
      <div id="search-form1" class=" col-lg-2 col-sm-4">
        <%= form_tag vehicles_path, :method => :get, id: "search-form" do %>
            <%= text_field_tag :search, params[:search], placeholder: "Search Vehicles" %>
            <%= submit_tag "Search", :address => nil %>
        <% end %> 

      <br />
        <%= form_tag vehicles_path, :method => :get, id: "search-form" do %>
          <p>
            <%= text_field_tag :search_map, params[:search_map] %>
            <%= select_tag :miles, options_for_select([["within 20 miles", "20"], ["within 40 miles", "40"]]), class: "form-control col-lg-2" %>
            <%= submit_tag "Search Near", :address => nil %>
          </p>  
        <% end %> 
      </div>  
    </div><!--container-search>-->
</div>

<div class="container-theader" >
  <h1>
            Listing Vehicles</h1>
</div>
<table class="imagetable">
  <thead>
    <tr>
     
      <th><%= link_to "User", :sort => "User" %></th>
      <th><%= link_to "Category", :sort => "Category" %></th>
      <th><%= link_to "Make", :sort => "Make" %></th>
      <th><%= link_to "Model", :sort => "Model" %></th>
      <th><%= link_to "color", :sort => "Color" %></th>
      <th><%= link_to "Year", :sort => "Year" %></th>
      <th><%= link_to "Owner", :sort => "Owner" %></th>
      <th><%= link_to "Price", :sort => "Price" %></th>
      <th><%= link_to "Address", :sort => "Address" %></th>
      <th><%= link_to "Zip", :sort => "Zip" %></th>
      <th><%= link_to "State", :sort => "State" %></th>      
      <th>Latitude</th>
      <th>Longitude</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.user_id %></td>
        <td><%= vehicle.category %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.owner %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.address %></td>
        <td><%= vehicle.zip %></td>
        <td><%= vehicle.state %></td>
        <td><%= vehicle.latitude %></td>
        <td><%= vehicle.longitude %></td>
        <% if user_signed_in? && current_user.id == vehicle.user_id %>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>


<br>

<%= link_to 'New Vehicle', new_vehicle_path %>
<br />

<div class= "contianer-map" style="width: 1460px; position:center; margin-top: 60px">
  <div id="map" 
    style= "position: center;
        margin-bottom: 50px;
        padding: 10px;
        margin-top: 80px;
        margin-left: 217px;
        width: 1000px;
        height: 750px;
        background-color: $color_celeste_approx;
        border-style: groove;
        border-width: 10px;
        border-color: #666699;">
  </div>
</div>

<div id="map-canvas">
  
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>

</div>
