
<nav class="navbar navbar-default">

  <div class="container-fluid">
   <!-- Collapse navbar when window shrinks>
    <div class="collapse navbar-collapse" id="navbar-collapse-1"> -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>

    <ul class="nav navbar-nav">
        <li> <a class="navbar-brand" > Car Searcher </a></li>
        <li><%= link_to 'Home', root_path %></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
               <ul>
                  <% if user_signed_in? %>
                    <li><%= link_to "Logout (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to 'Login', new_user_session_path  %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path  %></li>
                <% end %>
               </ul>
          </ul>
        </li>
        </ul>

     
      </div><!--/navbar- header-->
     

   
    <!-- </div>/.navbar-collapse -->

   </div><!-- /.container-fluid -->
  </nav>
</nav>


<div class="container container-search">
      <div class="search-form1 col-lg-4 col-sm-6">
        <%= form_tag vehicles_path, :method => :get, id: "search-form" do %>
            <%= text_field_tag :search, params[:search], :class => "text-field", placeholder: "Search Vehicles" %>
            <%= submit_tag "Search", :class => "submit-tag", :address => nil %>
        <% end %> 

      <br />
        <%= form_tag vehicles_path, :method => :get, id: "search-form" do %>
          <p>
            <%= text_field_tag :search_map, params[:search_map] %>
            <%= select_tag :miles, options_for_select([["within 20 miles", "20"], ["within 40 miles", "40"]]), class: "form-control" %>
            <%= submit_tag "Search Near", :address => nil %>
          </p>  
        <% end %> 
      </div> 
</div>


  <div class="container container-table">
    <div class= "table-title">Car Listings</div>

    <div class="table">
      
    <div class="row header blue">
     
      <div class="cell"><%= link_to "User", :sort => "User" %></div>
      <div class="cell"><%= link_to "Category", :sort => "Category" %></div>
      <div class="cell"><%= link_to "Make", :sort => "Make" %></div>
      <div class="cell"><%= link_to "Model", :sort => "Model" %></div>
      <div class="cell"><%= link_to "Color", :sort => "Color" %></div>
      <div class="cell"><%= link_to "Year", :sort => "Year" %></div>
      <div class="cell"><%= link_to "Owner", :sort => "Owner" %></div>
      <div class="cell"><%= link_to "Price", :sort => "Price" %></div>
      <div class="cell"><%= link_to "Address", :sort => "Address" %></div>
      <div class="cell"><%= link_to "Zip", :sort => "Zip" %></div>
      <div class="cell"><%= link_to "State", :sort => "State" %></div>  
      <div class="hidden-col">Latitude</div>
      <div class="hidden-col">Longitude</div>
     
    </div>

<% @vehicles.each do |vehicle| %>
   <div class="row">
    
        <div class="cell"><%= vehicle.user_id %></div>
        <div class="cell"><%= vehicle.category %></div>
        <div class="cell"><%= vehicle.make %></div>
        <div class="cell"><%= vehicle.model %></div>
        <div class="cell"><%= vehicle.color %></div>
        <div class="cell"><%= vehicle.year %></div>
        <div class="cell"><%= vehicle.owner %></div>
        <div class="cell"><%= vehicle.price %></div>
        <div class="cell"><%= vehicle.address %></div>
        <div class="cell"><%= vehicle.zip %></div>
        <div class="cell"><%= vehicle.state %></div>
        <div class="cell hidden-col"><%= vehicle.latitude %></div>
        <div class="cell hidden-col"><%= vehicle.longitude %></div>    
        <%# if user_signed_in? && current_user.id == vehicle.user_id %>
        <div class="cell"><%= link_to 'Show', vehicle %></div>
        <div class="cell"><%= link_to 'Edit', edit_vehicle_path(vehicle) %></div>
        <div class="cell"><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></div>
        <% end %>
   
    </div>
  <% end %>
 </div>
  <div><%= link_to 'New Vehicle', new_vehicle_path, class: 'vehicle-button' %></div>

</div>

<div class= "container container-map">
  <div id="map" class="map">
  </div>
</div>

<div id="map-canvas">
  
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>

</div>
<!-- 
<div class= "container container-contact">


</div> -->
