
<nav class="navbar navbar-default">

  <div class="container-fluid">
   <!-- Collapse navbar when window shrinks>
    <div class="collapse navbar-collapse" id="navbar-collapse-1"> -->

    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
      </button>

    <ul class="nav navbar-nav">
        <li> <a class="navbar-brand" > Car Searcher </a></li>
        <li><%= link_to 'Home', root_path %></li>

    </ul>
    <ul class="nav navbar-nav navbar-right">

        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Menu <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
               <ul>
                  <% if user_signed_in? %>
                    <li><%= link_to "Logout (#{current_user.email})", destroy_user_session_path, :method => :delete %></li>
                  <% else %>
                    <li><%= link_to 'Login', new_user_session_path  %></li>
                    <li><%= link_to 'Sign Up', new_user_registration_path  %></li>
                <% end %>
               </ul>
          </ul>
        </li>
        </ul>

     
      </div><!--/navbar- header-->
     

   
    <!-- </div>/.navbar-collapse -->

   </div><!-- /.container-fluid -->
  </nav>
</nav>


<div class="container container-search">
      <div class="search-form1 col-lg-4 col-sm-6">
        <%= form_tag vehicles_path, :method => :get, id: "search-form" do %>
            <%= text_field_tag :search, params[:search], :class => "text-field", placeholder: "Search Vehicles" %>
            <%= submit_tag "Search", :class => "submit-tag", :address => nil %>
        <% end %> 

      <br />
        <%= form_tag vehicles_path, :method => :get, id: "search-form" do %>
          <p>
            <%= text_field_tag :search_map, params[:search_map] %>
            <%= select_tag :miles, options_for_select([["within 20 miles", "20"], ["within 40 miles", "40"]]), class: "form-control" %>
            <%= submit_tag "Search Near", :address => nil %>
          </p>  
        <% end %> 
      </div> 
</div>

<div class="container container-table" >
  
  <table class="flatTable">
    <tr>
      <td style="font-size: 40px; font-style:bold;">Car Listings</td>
      <td colspan="10" style="text-align:right; text-style:emb; padding-right:20px; font-color: #a2a8a8"> <%= link_to 'New Vehicle', new_vehicle_path %></td>
      
    </tr>  
    <tr class="headingTr">
     
      <td><%= link_to "User", :sort => "User" %></td>
      <td><%= link_to "Category", :sort => "Category" %></td>
      <td><%= link_to "Make", :sort => "Make" %></td>
      <td><%= link_to "Model", :sort => "Model" %></td>
      <td><%= link_to "Color", :sort => "Color" %></td>
      <td><%= link_to "Year", :sort => "Year" %></td>
      <td><%= link_to "Owner", :sort => "Owner" %></td>
      <td><%= link_to "Price", :sort => "Price" %></td>
      <td><%= link_to "Address", :sort => "Address" %></td>
      <td><%= link_to "Zip", :sort => "Zip" %></td>
      <td><%= link_to "State", :sort => "State" %></td>   
      <td class="hidden-col">Latitude</td>
      <td class="hidden-col">Longitude</td>
 
    </tr>

  <tr>
    <% @vehicles.each do |vehicle| %>
        <td><%= vehicle.user_id %></td>
        <td><%= vehicle.category %></td>
        <td><%= vehicle.make %></td>
        <td><%= vehicle.model %></td>
        <td><%= vehicle.color %></td>
        <td><%= vehicle.year %></td>
        <td><%= vehicle.owner %></td>
        <td><%= vehicle.price %></td>
        <td><%= vehicle.address %></td>
        <td><%= vehicle.zip %></td>
        <td><%= vehicle.state %></td>
        <td class="hidden-col"><%= vehicle.latitude %></td>
        <td class="hidden-col"><%= vehicle.longitude %></td>
        <% if user_signed_in? && current_user.id == vehicle.user_id %>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
   </tr>
  <% end %>
  
 </table>
</div>

<div class= "container container-map">
  <div id="map" class="map">
  </div>
</div>

<div id="map-canvas">
  
    <script type="text/javascript">
    handler = Gmaps.build('Google');
    handler.buildMap({ provider: {}, internal: {id: 'map'}}, function(){
      markers = handler.addMarkers(<%=raw @hash.to_json %>);
      handler.bounds.extendWith(markers);
      handler.fitMapToBounds();
    });
    </script>

</div>

<div class= "container container-contact">


</div>
